---
import Search from '../components/Search';
import DefaultHeader from '../layouts/DefaultHeader.astro';
import DefaultFooter from '../layouts/DefaultFooter.astro';
import 'app/globals.css'
---

<!DOCTYPE html>
<html lang="ja">
	<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>高校検索サイト</title>
	</head>
	<body class="bg-[#eeece6]">
    <DefaultHeader />
    <div class="mx-auto my-20 2xl:my-80 2xl:w-1/2 w-5/6">
      <Search client:load />
    </div>
	</body>
  <DefaultFooter />
</html>

